name: build
on:
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  build:
    name: Build images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v4
      - name: Build
        run: make
