name: build
on:
  push: &filter
    branches:
      - master
  pull_request: *filter
  workflow_dispatch:
permissions:
  packages: write
jobs:
  builder:
    name: Build builder image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          username: ${{github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
      - name: Build and push
        run: |
          cd tools/builder
          make push
  build:
    name: Build images
    runs-on: ubuntu-latest
    needs: builder
    container:
      image: ghcr.io/eeems/rm-qemu-builder:latest
      options: >-
        --privileged
        --security-opt seccomp=unconfined
        --security-opt apparmor=unconfined
        --cap-add=SYS_ADMIN
        --cap-add=NET_ADMIN
        --device /dev/fuse
        --tmpfs /tmp
        --tmpfs /run
        --userns=host
        --cgroupns=host
        --volume=/:/run/host
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v4
      - name: Setup container
        run: |
          set -e
          cp /etc/resolv.conf /etc/hosts /etc/hostname /tmp/
          mount --make-rprivate /
          umount /etc/resolv.conf /etc/hosts /etc/hostname
          mv /tmp/resolv.conf /tmp/hosts /tmp/hostname /etc/
          git config --global --add safe.directory $(pwd)
          mkdir -p /github/home/.docker /home/runner
          if [ ! -f /etc/containers/seccomp.json ];then
            cp seccomp.json /etc/containers/seccomp.json
          fi
          if ! [ -f /github/home/.docker/config.json ];then
            echo '{"auths":{}}' > /github/home/.docker/config.json
          fi
          echo "TMPDIR=${{ runner.temp }}" >> "$GITHUB_ENV"
          ln -s /__w /home/runner/work
          mkdir /github/home/.ssh
          chmod 600 /github/home/.ssh
      - name: Login to ghcr
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          auth_file_path: /run/containers/0/auth.json
      - name: Free up space
        run: |
          chroot /run/host /bin/bash -x <<'EOF'
            df -h
            echo
            echo Freeing up space
            docker system prune --force
            docker rmi $(docker image ls -aq) || true
            docker system prune --force
            export DEBIAN_FRONTEND="noninteractive"
            sudo apt-get autoremove -y
            sudo apt-get autoclean -y
            sudo rm -vrf \
              /usr/lib/jvm \
              /usr/share/dotnet \
              /usr/share/swift \
              /usr/local/.ghcup \
              /usr/local/julia* \
              /usr/local/lib/android \
              /usr/local/share/chromium \
              /opt/microsoft /opt/google \
              /opt/az \
              /usr/local/share/powershell \
            | wc -l
            echo
            df -h
          EOF
      - name: Build
        run: make
      - name: rootfs cache
        uses: actions/cache@v4
        with:
          key: rootfs-${{ hashFiles('kernel/**', 'rootfs/**', 'emulator/**') }}
          path: |
            emulator/.cache
            emulator/.data
      - name: Test
        run: |
          set -e
          mkdir -p /run/podman $TMPDIR
          podman system service --time 0 unix:///run/podman/podman.sock &
          make test
          kill $(jobs -p) || true
      - name: push
        if: github.event_name != 'pull_request'
        run: make push
      - name: Upload AppImage
        uses: actions/upload-artifact@v4
        with:
          name: rm-qemu.AppImage
          path: appimage/rm-qemu-*.AppImage
