name: build
on:
  push: &filter
    branches:
      - master
  pull_request: *filter
  workflow_dispatch:
permissions:
  packages: write
jobs:
  builder:
    name: Build builder image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          username: ${{github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
      - name: Build and push
        run: |
          cd tools/builder
          make push
  build:
    name: Build images
    runs-on: ubuntu-latest
    needs: builder
    container: &container
      image: ghcr.io/eeems/rm-qemu-builder:latest
      options: >-
        --privileged
        --security-opt seccomp=unconfined
        --security-opt apparmor=unconfined
        --cap-add=SYS_ADMIN
        --cap-add=NET_ADMIN
        --device /dev/fuse
        --tmpfs /tmp
        --tmpfs /run
        --userns=host
        --cgroupns=host
        --volume=/:/run/host
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v4
      - &setup-container
        name: Setup container
        run: |
          set -e
          cp /etc/resolv.conf /etc/hosts /etc/hostname /tmp/
          mount --make-rprivate /
          umount /etc/resolv.conf /etc/hosts /etc/hostname
          mv /tmp/resolv.conf /tmp/hosts /tmp/hostname /etc/
          git config --global --add safe.directory $(pwd)
          mkdir -p /github/home/.docker /home/runner
          if [ -f seccomp.json ] && [ ! -f /etc/containers/seccomp.json ];then
            cp seccomp.json /etc/containers/seccomp.json
          fi
          if ! [ -f /github/home/.docker/config.json ];then
            echo '{"auths":{}}' > /github/home/.docker/config.json
          fi
          echo "TMPDIR=${{ runner.temp }}" >> "$GITHUB_ENV"
          ln -s /__w /home/runner/work
          mkdir /github/home/.ssh
          chmod 600 /github/home/.ssh
      - name: Login to ghcr
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          auth_file_path: /run/containers/0/auth.json
      - name: Free up space
        run: |
          chroot /run/host /bin/bash -x <<'EOF'
            df -h
            echo
            echo Freeing up space
            docker system prune --force
            docker rmi $(docker image ls -aq) || true
            docker system prune --force
            export DEBIAN_FRONTEND="noninteractive"
            sudo apt-get autoremove -y
            sudo apt-get autoclean -y
            sudo rm -vrf \
              /usr/lib/jvm \
              /usr/share/dotnet \
              /usr/share/swift \
              /usr/local/.ghcup \
              /usr/local/julia* \
              /usr/local/lib/android \
              /usr/local/share/chromium \
              /opt/microsoft /opt/google \
              /opt/az \
              /usr/local/share/powershell \
            | wc -l
            echo
            df -h
          EOF
      - name: rootfs cache
        uses: actions/cache@v4
        with:
          key: rootfs-${{ hashFiles('busybox-initrd/overlay/**', 'emulator/bin/**') }}
          path: |
            emulator/.cache
            emulator/.data
      - name: Debug information
        run: make debug
      - name: Build
        run: make -j$(nproc)
      - name: Debug information
        run: make debug
      - name: Test
        run: make test
      - name: push
        if: github.event_name != 'pull_request'
        run: make -j$(nproc) push
      - name: Upload AppImage
        uses: actions/upload-artifact@v4
        with:
          name: rm-qemu.AppImage
          path: appimage/*.AppImage
          if-no-files-found: error
      - name: Upload logs on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-logs
          path: |
            /github/home/.local/share/rm-qemu/logs-*.qcow2
            emulator/.data/logs-*.qcow2

  test:
    name: Test various versions
    runs-on: ubuntu-latest
    needs: build
    container: *container
    strategy:
      fail-fast: false
      matrix:
        version:
          - 2.11.0.442
          - 2.12.1.527
          - 2.12.2.573
          - 2.12.3.606
          - 2.13.0.758
          - 2.14.0.861
          - 2.14.1.866
          - 2.14.3.958
          - 2.14.3.977
          - 2.14.3.1005
          - 2.14.3.1047
          - 2.15.0.1067
          - 2.15.1.1189
          - 3.0.4.1305
          - 3.2.2.1581
          - 3.2.3.1595
          - 3.3.2.1666
          - 3.4.0.1784
          - 3.4.1.1790
          - 3.5.1.1798
          - 3.5.2.1807
          - 3.6.0.1865
          - 3.6.1.1894
          - 3.7.0.1930
          - 3.8.0.1944
          - 3.8.2.1965
          - 3.8.3.1976
          - 3.9.3.1986
          - 3.9.4.2018
          - 3.9.5.2026
          - 3.10.2.2063
          - 3.11.2.5
          - 3.11.3.3
          - 3.12.4.3
          - 3.12.4.4
          - 3.13.1.2
          - 3.13.2.0
          - 3.14.1.9
          - 3.15.4.2
          - 3.16.1.0
          - 3.16.2.3
          # - 3.17.0.72 # Missing from codexctl
          - 3.18.1.1
          - 3.18.2.3
          - 3.19.0.82
          - 3.20.0.92
          # - 3.22.0.64 # This is already tested as part of build
          - 3.22.4.2
          - 3.23.0.64
          - 3.24.0.149
    steps:
      - *setup-container
      - name: update cache
        uses: actions/cache@v4
        with:
          key: update-${{ matrix.version }}
          path: |
            /github/home/.cache/rm-qemu/cache/**
      - name: Download AppImage
        uses: actions/download-artifact@v4
        with:
          name: rm-qemu.AppImage
          path: .
      - name: Make executable
        run: chmod +x ./*.AppImage
      - name: Test
        run: ./*.AppImage ${{ matrix.version }} true
      - name: Upload logs on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.version }}-logs
          path: /github/home/.local/share/rm-qemu/logs-*.qcow2
